p {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  background:#2B2733;
  margin: 0;
}

.icon {
  border: 2px solid pink;
  display: flex;
  height: 40px;
}
